<!DOCTYPE html>
<html>

<head>
    <title>PiSound Uploader</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/rtt.css') }}">
</head>

<body>

<div class="container">

	<h1>PiSound</h1>

	<h2>Pins</h2>
    <form action="/" method="POST">
        <table>
            <teadh>
		<tr>
                    <td>Pin</td>
                    <td>Sound</td>
		</tr>
            </thead>
            {% for i in range(12) %}
                <tr>
		    <td>{{ i }}</td>
                    <td>
                        <select name="{{ i }}" id="{{ i }}">
			    <option value={{ pins[i] }}>{{ pins[i].split('/')[-1] }}</option>
                            {% for track in tracks %}
                                <option value="{{ track }}">{{ track }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit">Submit</button>
    </form>

    <h2>Sounds</h2>
    <table>
        <thead>
	    <tr>
                <th>Sound</th>
                <th>Play</th>
	    </tr>
        </thead>
	<tbody>
        {% for track in tracks %}
            <tr>
                <td>{{ track }}</td>
                <td>
                    <audio controls>
                       <source src="static/sounds/{{ track }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </td>
            </tr>
        {% endfor %}
	</tbody>
    </table>

    <h2>Add a sound</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit"/>
    </form>

    <h2>Reset</h2>
    <form action="/reset" method="GET">
        <button type="submit">Reset</button>
    </form>

    <h2>Bluetooth</h2>
    <form action="/connect" method="POST">
        <select name="mac" id="mac">
            {% for bluetooth in bluetooths %}
                <option value="{{ bluetooth['mac_address'] }}">{{ bluetooth['name'] }}</option>
            {% endfor %}
            </select>
        <button type="submit">Connect</button>
    </form>

</div>
        

</body>

</html>
