.error {
    border: 5px;
    background-color: rgb(255, 196, 187);
    color: black;
    padding-top: 20px;
    padding-bottom: 1px;
    text-align: center;
    width: 33%;
    margin: 0 auto;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
}